.widget-imageurlviewer-clickable {
    cursor: pointer;
}

.widget-imageurlviewer {
    display: inline-block;
}

.widget-imageurlviewer.badge:empty {
    display: initial;
    /* Fix padding to stay round */
    padding: 3px 10px;
}

.widget-imageurlviewer.label:empty {
    display: initial;
    /* Fix padding to stay square */
    padding: .2em .8em .3em;
}

.widget-imageurlviewer.badge {
    min-width: 18px;
    min-height: 18px;
}
