.widget-esrimap-clickable {
    cursor: pointer;
}

.widget-esrimap {
    display: inline-block;
}

.widget-esrimap.badge:empty {
    display: initial;
    /* Fix padding to stay round */
    padding: 3px 10px;
}

.widget-esrimap.label:empty {
    display: initial;
    /* Fix padding to stay square */
    padding: .2em .8em .3em;
}

.widget-esrimap.badge {
    min-width: 18px;
    min-height: 18px;
}
