

.widget-lazyimageloader img{
        border: 2px solid #ccc;
        border-radius: 15px;
}

.lazy-image-loader-container img {
    border-radius: 15px;
    border: 2px solid rgb(204, 204, 204);
    max-height: 60px;
    max-width: 60px;
}


